<div class = "container">
  <div class = "text-center">
     <h2 class ="pt-5">本当に退会しますか？</h2>

  <div class="mt-4">
    退会すると、<strong>会員情報登録</strong>や<br>
    これまでの<strong>購入履歴</strong>が閲覧できなくなります。
  </div>
  <div class="mt-2">
    退会する場合は、「退会する」をクリックしてください。
  </div>

<%= link_to "退会しない", root_path, class: 'mt-4 mr-5 btn btn-success' %>
<%= link_to "退会する", withdrawal_customers_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class:"mt-4 ml-5 btn btn-danger" %>

</div>
</div>