/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.top-image{
  background-image: image-url('top.jpg');
  height: 450px;
  width: 100% ;
  padding-top: 140px;
  padding-left: 310px;
  background-size: cover;
  background-position:center;
  box-shadow: inset 0 0 20px 20px #FFF;
  border-radius: 5%;
}

.about-image{
  background-image: image-url('about.jpg');
  height: 350px;
  width: 100% ;
  margin-bottom: 100px;
  background-size: cover;
  background-position:center;
  box-shadow: inset 0 0 10px 10px #FFF;
  border-radius: 5%;
}