<div class="container">
  <div class="row justify-content-center">
     <div class="text-center">
       <h2><strong><strong>About</strong></strong></h2>
         <p><strong>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。
          </strong></p>
         <div class="about-image"></div>
      </div>
   </div>
 </div>