<div class = "container-fluid">
  <div class = "text-center">
      <h1 class ="mt-3">Thank you!</h1>
      <h2 class = "mt-2">ご注文ありがとうございました</h2>
      <%= image_tag 'rabbit_pekori.jpg', :size => '200x200' %>
      <h3 class="mt-5">こちらの商品もいかがですか？</h3>

      <div class="row align-items-center">
      <% @item.each do |item| %>

        <div class="mx-auto px-1 col-2 shadow-lg ">
        <%= link_to item_path(item), class: "text-center text-dark" do %>
　　　　  <%= image_tag item.image, :size => '70x70',class:"card-img-top" %>
　　　　<%= item.name %>
　　　　<% end %>
　　　　</div>
      <% end %>
        </div>
  </div>
</div>